
.fz24 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.f-size {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content {
    border-radius: 0 !important;
    border: 0 !important;
}

#classDetail-infor pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
