
@{
    ViewBag.Title = "Day2thirdTrack";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/content/day2.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Dev Day2 Popups</title>
</head>

<body>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz24" id="classDetail-title">Champion consumer privacy rights to drive differentiation</h5>
               
            </div>
            <div class="modal-body" id="classDetail-body">
                <div class="row">
                    <div class="col classItem" id="classDetail-kind"></div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col f-size">
                        <span class="d-inline-block">Time :</span>
                        <span class="d-inline-block">
                            <span id="classDetail-date">2019-05-22</span>
                            <span id="classDetail-time">09:00 - 09:45 </span>
                        </span>
                    </div>
                    <div class="col f-size">
                        <span class="d-inline-block">Speaker :</span>
                        <span class="d-inline-block" id="classDetail-speaker">Tina Ying/ Product Marketing Manager, Microsoft 365</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col f-size" id="classDetail-infor"><pre>Being a customer-obsessed business means being privacy-obsessed. According to industry analysts such as Forrester, companies with more advanced privacy controls are growing faster today than their peers with less mature controls. Come to this session to learn more about how Microsoft 365 security &amp; compliance can help you safeguard your digital estate and sensitive information.</pre></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


