
@{
    ViewBag.Title = "Day3ThirdTrack3";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/content/day3.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Dev Day3 Popups</title>
</head>

<body>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz24" id="classDetail-title">Tabular Data Stream (MS-TDS) and SQL Client Connection String (MS-SCCSTR) Protocols, and Test Suite intro</h5>
               
            </div>
            <div class="modal-body" id="classDetail-body">
                <div class="row">
                    <div class="col classItem" id="classDetail-kind"></div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col f-size">
                        <span class="d-inline-block">Time :</span>
                        <span class="d-inline-block">
                            <span id="classDetail-date">2019-05-23</span>
                            <span id="classDetail-time">11:00 - 12:00 </span>
                        </span>
                    </div>
                    <div class="col f-size">
                        <span class="d-inline-block">Speaker :</span>
                        <span class="d-inline-block" id="classDetail-speaker">Baoming Yu, Bin Guo</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col f-size" id="classDetail-infor"><pre>This session will introduce the Microsoft .NET Framework-based connection string structure (SqlClient), which is a SQL Server data provider. This will be followed by examples to show the relationship between MS-TDS and SqlClient. The MS-TDS protocol will also be introduced, and a demo will be used to illustrate the operation and architecture of its Test Suite.</pre></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


