
@{
    ViewBag.Title = "ThirdTrack2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/day1.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Dev Day1 Popups</title>
</head>

<body>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fz24" id="classDetail-title">Explore the Power of the Cloud by Converting Your Mail App to Microsoft Graph</h5>
               
            </div>
            <div class="modal-body" id="classDetail-body">
                <div class="row">
                    <div class="col classItem" id="classDetail-kind"></div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col f-size">
                        <span class="d-inline-block">Time :</span>
                        <span class="d-inline-block">
                            <span id="classDetail-date">2019-05-21</span>
                            <span id="classDetail-time">16:30 - 17:30 </span>
                        </span>
                    </div>
                    <div class="col f-size">
                        <span class="d-inline-block">Speaker :</span>
                        <span class="d-inline-block" id="classDetail-speaker">Ivy Lin</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col f-size" id="classDetail-infor">
                        <div class="mt-5">
                            <span class="_lang-en">Description</span>
                        </div>
                        <hr>
                        <pre>Learn what it takes to build a Microsoft Graph based mail app. In this workshop you will learn how to register your Office app with Azure and call Microsoft Graph. Get information about contacts, meetings, and email through your Microsoft Graph calls. By the end of the session, you will have a simple app that can send emails.</pre>
                        <div>
                            <span class="_lang-en">Requirement</span>
                        </div>
                        <hr>
                        <div>
                            <ul style="list-style:disc;"><li>Visual Studio <ul style="list-style:circle;margin-left:1.5em;"><li>ASP.NET and web development</li><li>Office/SharePoint development</li></ul></li></ul>Have Office O365 Account with PowerPoint document including images.
                            <ul style="list-style:disc;">
                                <li><a href="#" data-toggle="modal" data-target="#card4-2-1" target="_blank" data-evetitle="Download zip file for repo" class="link-style02">Download zip file for repo</a></li>
                                <li><a href="" data-toggle="modal" data-target="#card4-2-2" target="_blank" data-evetitle="Download zip file for repo" class="link-style02">Prerequires here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


